
# shell
alias :q='exit'
alias cl='clear'
alias ..='cd ..;' # can then do .. .. .. to move up multiple directories.
alias ...='.. ..'
alias cp='cp -i'
alias rm='rm -i'
alias mv='mv -i'
alias la='ls -laohF --color'
alias mkdir='mkdir -p'
alias md='mkdir'

# editor
alias e='vim'
alias E='f(){ $EDITOR ${*:-.};}; f'

# Reload .bashrc
alias refresh='. ~/.bashrc'

# SVN
alias sd='svn diff | more'

#Git
#alias gll ='log --graph --date=relative --topo-order --pretty=\'format:%C(yellow)%h%C(yellow)%d %Cblue%ar %Cgreenby %an%Creset -- %s\''

alias localip="ipconfig getifaddr en1"
alias whois="whois -h whois-servers.net"

function up() {
  local d=""
  limit=$1
  for ((i=1 ; i <= limit ; i++))
    do
      d=$d/..
    done
  d=$(echo $d | sed 's/^\///')
  if [ -z "$d" ]; then
    d=..
  fi
  cd $d
}
