# Shell
alias :q='exit'
alias ..='cd ..;' # can then do .. .. .. to move up multiple directories.
alias ...='.. ..'
alias cp='cp -i'
alias rm='rm -I'
alias mv='mv -i'
alias ln='ln -i'
alias la='ls -laohFG'
# Позволяет создавать директории по цепочке /1/2/3/
alias mkdir='mkdir -p'
alias md='mkdir'
# печатать размеры файлов в удобном для человека виде
alias df='df -h'

# По умолчанию пинговать 5 раз
alias ping='ping -c 5'

# Editor
alias e='vim'
alias E='f(){ $EDITOR ${*:-.};}; f'

# Reload .bashrc
alias refresh='. ~/.bashrc'

# SVN
alias sd='svn diff | more'

# Git
alias gd='git diff'
alias gs='git status'
alias gap='git add -p'
alias gc='git commit -m'
# short log
alias gsl="git log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph"
# log
alias gl="git plog"


# Debian
alias dch='dch --distributor=debian'
alias debuild='debuild --no-tgz-check --no-lintian'

# Misc
alias localip="ipconfig getifaddr en1"
alias whois="whois -h whois-servers.net"

function up() {
  local d=""
  limit=$1
  for ((i=1 ; i <= limit ; i++))
    do
      d=$d/..
    done
  d=$(echo $d | sed 's/^\///')
  if [ -z "$d" ]; then
    d=..
  fi
  cd $d
}
