[user]
	name = miripiruni
	email = miripiruni@gmail.com

[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true
